<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag "Eメールアドレス" %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag "パスワード" %><br />
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= check_box_tag :remember, params[:remember] %>
    <%= label_tag "ログイン状態を保持する" %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
