<!DOCTYPE html>
<html>
  <head>
    <title>EC Prep</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="nav">
    <%= link_to "ロゴ", :root %>
    <% if current_user %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "ログアウト", :logout, method: :post %>
    <% else %>
      <%= link_to "新規登録", new_user_path %> |
      <%= link_to "ログイン", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>

  </body>
</html>
